*, *:before, *:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #757f9a, #d7dde8);
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: #fff;
    width: 300px;
    padding: 2rem 2rem;
    position: relative;
}

.sort {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background-color: #333;
    color: #fff;
}

.bands {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bands li {
    border-bottom: solid 1px #ddd;
    padding: 0.25rem 0;
}